---
import ArticleItem from "@/components/article-item.astro";
import PageLayout from "@/layouts/page-layout.astro";
import Pattern from "@/components/pattern.astro";

import Box from "@/components/box/index.astro";
import BoxTitle from "@/components/box/title.astro";
import BoxHeader from "@/components/box/header.astro";
import BoxContent from "@/components/box/content.astro";

import LinkTag from "@/components/link-tag.astro";

import { getCollection } from "astro:content";

import { SITE } from "@/lib/config";
import type { GetStaticPaths } from "astro";
import Pagination from "@/components/pagination.astro";

const articles = await getCollection("blog");
const categories = [...new Set(articles.map(article => article.data.category))];
const series = [
  ...new Set(
    articles
      .map(article => article.data.series)
      .filter(series => series !== undefined)
  ),
];

export const getStaticPaths = (async ({ paginate }) => {
  const articles = await getCollection("blog", ({ data }) => !data.draft);
  return paginate(articles, { pageSize: SITE.postPerPage });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

// Page properties
const title = "Articles";
const description = `
      I talk about frontend, backend, fullstack, productivity and just what ever
      i encouter and learn in my journey as a software engineer
    `;
---

<PageLayout title={title} description={description}>
  <Pattern />

  <Box>
    <BoxHeader>
      <BoxTitle>Series</BoxTitle>
    </BoxHeader>
    <BoxContent>
      <ul class="flex flex-wrap items-center justify-start gap-x-4 gap-y-3">
        {
          series.map(seriesItem => (
            <LinkTag href={`articles/series/${seriesItem}`} tag={seriesItem} />
          ))
        }
      </ul>
    </BoxContent>
  </Box>

  <Pattern />

  <Box>
    <BoxHeader>
      <BoxTitle>Categories</BoxTitle>
    </BoxHeader>
    <BoxContent>
      <ul class="flex flex-wrap items-center justify-start gap-x-4 gap-y-3">
        {
          categories.map(category => (
            <LinkTag href={`articles/categories/${category}`} tag={category} />
          ))
        }
      </ul>
    </BoxContent>
  </Box>

  <Pattern />

  <Box>
    <BoxHeader>
      <BoxTitle>Articles</BoxTitle>
    </BoxHeader>
    <ul
      class="flex w-full flex-col items-start justify-start divide-y divide-border"
    >
      {page.data.map(article => <ArticleItem article={article} />)}
    </ul>

    <div class="border-t">
      <Pagination page={page} />
    </div>
  </Box>
</PageLayout>
