---
import { ArrowRight } from "lucide-react";
import { buttonVariants } from "./button";
import { cn } from "@/lib/utils";

const articles = [
    {
        id: "bo9o9o",
        title: "Beyond The Basics: Typescript Advanced Concepts",
        description:
            " Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam repellendus autem nostrum a facilis culpa, hic eligendi, error voluptates omnis lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam repellendus autem nostrum a facilis culpa, hic eligendi, error voluptates omnis lorem ",
        image: "/article.png",
        tags: ["#backend", "#typescript", "#honojs"],
        date: "07 Feb 2025",
        readTime: "5 mins read",
    },
    {
        id: "xy1z2a",
        title: "Mastering FastAPI for Scalable Applications",
        description:
            "Discover the power of FastAPI in building high-performance, scalable backend systems with Python.",
        image: "/article.png",
        tags: ["#backend", "#python", "#fastapi"],
        date: "15 Jan 2025",
        readTime: "8 mins read",
    },
    {
        id: "lmno34",
        title: "Optimizing Frontend Performance with Astro & React",
        description:
            "Learn how Astro and React can work together to build blazing-fast websites with server-side rendering.",
        image: "/article.png",
        tags: ["#frontend", "#astro", "#react"],
        date: "22 Mar 2025",
        readTime: "6 mins read",
    },
];
---

<section class="w-full flex flex-col gap-8 justify-start items-start">
    <div>
        <h2 class="text-2xl font-medium">Latest articles</h2>
        <p class="text-foreground/80">
            I write about frontend, backend, fullstack, and latest tech trends
        </p>
    </div>

    <ul class="flex w-full flex-col justify-start items-start gap-6">
        {
            articles.map((article) => (
                <a
                    href={`/articles/${article.id}`}
                    class="group w-full flex gap-6 justify-start items-center cursor-pointer pb-4 last:border-b-0  border-b "
                >
                    <img
                        src={article.image}
                        alt={article.title}
                        class="w-[18%] rounded-md hidden lg:block"
                    />
                    <div class="flex flex-col justify-center gap-3 items-start">
                        <ul class="flex gap-x-4 justify-start items-center">
                            {article.tags.map((tag) => (
                                <li class="text-sm font-medium">{tag}</li>
                            ))}
                        </ul>
                        <div class="space-y-1">
                            <h3 class="group-hover:underline underline-offset-4 text-xl font-semibold">
                                {article.title}
                            </h3>
                            <p class="line-clamp-2 mr-4">
                                {article.description}
                            </p>
                        </div>
                        <div class="space-y-2 text-xs font-medium">
                            <p class="text-muted-foreground">
                                {article.date} • {article.readTime}
                            </p>
                            <span class="items-center flex gap-1">
                                Read more
                                <ArrowRight className="size-3 group-hover:translate-x-0.5 duration-75" />
                            </span>
                        </div>
                    </div>
                </a>
            ))
        }
    </ul>

    <a
        href="/articles"
        class={cn(
            "mx-auto cursor-pointer",
            buttonVariants({ size: "sm", variant: "outline" }),
        )}
        >See all articles
        <ArrowRight
            className="size-3 group-hover:translate-x-0.5 duration-75"
        />
    </a>
</section>
