---
import { buttonVariants } from "./button";

export interface Props {
  id?: string;
  href: string;
  ariaLabel?: string;
  disabled?: boolean;
}

const { id, href, ariaLabel, disabled = false } = Astro.props;
---

{
  disabled ? (
    <span
      id={id}
      class:list={[
        buttonVariants({ size: "icon", variant: "ghost" }),
        "rounded-full text-muted-foreground hover:bg-transparent hover:text-muted-foreground [&_svg]:size-4",
      ]}
      aria-disabled={disabled}
    >
      <slot />
    </span>
  ) : (
    <a
      id={id}
      {href}
      class:list={[
        buttonVariants({ size: "icon", variant: "ghost" }),
        "!rounded-full",
      ]}
      aria-label={ariaLabel}
    >
      <slot />
    </a>
  )
}
