---
import { capitalizeFirstLetter } from "@/lib/utils";
import Layout from "./layout.astro";
import { ArrowLeft } from "lucide-react";
import { buttonVariants } from "@/components/button";
import Navbar from "@/components/navbar/index.astro";
import type { MarkdownHeading } from "astro";

interface Props {
  title: string;
  description: string;
  headings: MarkdownHeading[];
}

const { title, description, headings } = Astro.props;
---

<Layout title={`${title} | Louai.b`}>
  <Navbar />

  <div
    class="sticky top-[120px] right-[-20%] flex flex-col items-start justify-start gap-4"
  >
    <h3 class:list="text-lg">On This Page</h3>
    {
      headings
        .filter(({ depth }) => depth < 3)
        .map(({ slug, depth, text }) => (
          <a
            href={`#${slug}`}
            class:list={[
              "text-sm text-foreground/70 no-underline duration-75 hover:text-foreground",
              { "ml-4": depth === 2 },
            ]}
          >
            {text}
          </a>
        ))
    }
  </div>
  <main
    class="mx-auto min-h-[calc(100vh-120px)] max-w-4xl space-y-4 border-x border-dashed px-6 py-10"
    aria-label="Main content"
  >
    <header class="space-y-3">
      <a
        href="/articles"
        class:list={[
          "flex items-center gap-2",
          buttonVariants({ variant: "ghost" }),
        ]}
      >
        <ArrowLeft className="inline size-4" />
        Back
      </a>
      <h2 class="text-3xl font-semibold">{capitalizeFirstLetter(title)}</h2>
      <p class="max-w-3xl">{description}</p>
    </header>

    <slot />
  </main>
</Layout>
